@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");
html,
body {
  font-family: "Outfit", system-ui, sans-serif;
  overflow-x: hidden;
}

#cover {
  background-image: radial-gradient(763px 796px at 15rem center, rgba(255, 252, 0, 0.52) 0%, rgb(255, 255, 255) 60%);
  background-repeat: no-repeat;
  padding-top: 4rem;
}

.salud-logo {
  width: 100%;
}

.hero-text {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.6);
}

.feature-heading {
  font-size: 30px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.feature-text {
  font-size: 26px;
  color: rgba(0, 0, 0, 0.6);
}

#subscribe,
#subscribe-footer {
  background-color: #f7eeff;
  height: 260px;
}

#subscribe {
  margin-top: 50px;
}

.subscribe-text {
  color: #ab53ff;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.subscribe-form-control {
  border-radius: 44px 0 0 44px;
  height: 60px;
  color: #bdbec6;
  font-size: 18px;
  font-weight: 400;
  opacity: 1; /* Firefox */
  padding: 0 0 0 20px;
}

.subscribe-button {
  width: 30%;
  height: 60px;
  left: 0px;
  top: 0px;
  border-radius: 0 44px 44px 0;
  background: #ab53ff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 38px;
  color: #ffffff;
}

.form-control::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bdbec6;
  font-size: 20px;
  font-weight: 400;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bdbec6;
  font-size: 20px;
  font-weight: 400;
  opacity: 1; /* Firefox */
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bdbec6;
  font-size: 20px;
  font-weight: 400;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bdbec6;
  font-size: 20px;
  font-weight: 400;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bdbec6;
  font-size: 20px;
  font-weight: 400;
}

#current-features,
#coming-soon-features {
  background-color: #fffc01;
  padding: 1rem;
}

#gifting-experience {
  margin-bottom: 50px;
}

#gifting-value {
  margin-bottom: 50px;
}

#coming-soon {
  background: linear-gradient(90deg, rgb(84, 73, 218) 0%, rgb(126, 73, 207) 50%, rgb(180, 74, 192) 100%);
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
#coming-soon .coming-soon-image {
  position: absolute;
  margin-top: -45px;
  width: 29%;
}

#suggestions {
  color: #fff;
}
#suggestions .card {
  background-color: #fffc01;
  border: 0px;
}
#suggestions .card .card-title {
  font-size: 17px;
}
#suggestions .card .card-text {
  font-size: 20px;
}

@media (min-width: 576px) {
  #cover {
    background-image: radial-gradient(763px 696px at 20rem center, rgba(255, 252, 0, 0.52) 0%, rgb(255, 255, 255) 60%);
    background-repeat: no-repeat;
    padding-top: 4rem;
  }
  .salud-logo {
    width: 65%;
  }
  .hero-text {
    font-size: 45px;
    color: rgba(0, 0, 0, 0.6);
  }
  .feature-heading {
    font-size: 40px;
    font-weight: 600;
    color: rgb(0, 0, 0);
  }
  .feature-text {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.6);
  }
  #subscribe {
    margin-top: 50px;
  }
  #coming-soon .coming-soon-image {
    position: absolute;
    margin-top: -45px;
    width: 20%;
  }
  .subscribe-text {
    color: #ab53ff;
    font-size: 34px;
    font-weight: 600;
    text-align: center;
  }
  .subscribe-form-control {
    border-radius: 44px 0 0 44px;
    height: 90px;
    color: #bdbec6;
    font-size: 25px;
    font-weight: 400;
    opacity: 1; /* Firefox */
    padding: 0 0 0 30px;
  }
  .subscribe-button {
    width: 30%;
    height: 90px;
    left: 0px;
    top: 0px;
    border-radius: 0 44px 44px 0;
    background: #ab53ff;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    color: #ffffff;
  }
  .form-control::-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bdbec6;
    font-size: 25px;
    font-weight: 400;
    opacity: 1; /* Firefox */
  }
  .form-control:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bdbec6;
    font-size: 25px;
    font-weight: 400;
    opacity: 1; /* Firefox */
  }
  .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bdbec6;
    font-size: 25px;
    font-weight: 400;
    opacity: 1; /* Firefox */
  }
  .form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bdbec6;
    font-size: 25px;
    font-weight: 400;
  }
  .form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #bdbec6;
    font-size: 25px;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  #cover {
    background-image: radial-gradient(763px 696px at 50rem center, rgba(255, 252, 0, 0.52) 0%, rgb(255, 255, 255) 60%);
    background-repeat: no-repeat;
    padding-top: 4rem;
  }
  #subscribe {
    margin-top: 50px;
  }
  #coming-soon .coming-soon-image {
    position: absolute;
    margin-top: -45px;
    width: 15%;
  }
}
@media (min-width: 992px) {
  #cover {
    background-image: radial-gradient(763px 696px at 60rem center, rgba(255, 252, 0, 0.52) 0%, rgb(255, 255, 255) 60%);
    background-repeat: no-repeat;
    padding-top: 4rem;
  }
  .salud-logo {
    width: 35%;
  }
  .feature-heading {
    font-size: 40px;
    font-weight: 600;
    color: rgb(0, 0, 0);
  }
  .feature-text {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.6);
  }
  #subscribe {
    margin-top: 50px;
  }
  #coming-soon .coming-soon-image {
    position: absolute;
    margin-top: -45px;
    width: 20%;
  }
  .subscribe-text {
    color: #ab53ff;
    font-size: 34px;
    font-weight: 600;
    text-align: left;
  }
  .subscribe-form-control {
    border-radius: 44px 0 0 44px;
    height: 90px;
    color: #bdbec6;
    font-size: 25px;
    font-weight: 400;
    opacity: 1; /* Firefox */
    padding: 0 0 0 30px;
  }
  .subscribe-button {
    width: 30%;
    height: 90px;
    left: 0px;
    top: 0px;
    border-radius: 0 44px 44px 0;
    background: #ab53ff;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    color: #ffffff;
  }
  .form-control::-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bdbec6;
    font-size: 25px;
    font-weight: 400;
    opacity: 1; /* Firefox */
  }
  .form-control:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bdbec6;
    font-size: 25px;
    font-weight: 400;
    opacity: 1; /* Firefox */
  }
  .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bdbec6;
    font-size: 25px;
    font-weight: 400;
    opacity: 1; /* Firefox */
  }
  .form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bdbec6;
    font-size: 25px;
    font-weight: 400;
  }
  .form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #bdbec6;
    font-size: 25px;
    font-weight: 400;
  }
  #subscribe {
    position: relative;
    margin-top: -100px;
    z-index: 9;
  }
  #coming-soon .coming-soon-image {
    position: absolute;
    margin-top: -45px;
    width: 11%;
  }
  .p-lg {
    padding-left: 3em;
    padding-right: 3em;
  }
}
@media (min-width: 1200px) {
  #cover {
    background-image: radial-gradient(763px 696px at 60rem center, rgba(255, 252, 0, 0.52) 0%, rgb(255, 255, 255) 60%);
    background-repeat: no-repeat;
    padding-top: 4rem;
  }
  #subscribe {
    position: relative;
    margin-top: -100px;
    z-index: 9;
  }
  #coming-soon .coming-soon-image {
    position: absolute;
    margin-top: -45px;
    width: 10%;
  }
  .p-lg {
    padding-left: 3em;
    padding-right: 3em;
  }
}
@media (min-width: 1400px) {
  #cover {
    background-image: radial-gradient(763px 696px at 70rem center, rgba(255, 252, 0, 0.52) 0%, rgb(255, 255, 255) 60%);
    background-repeat: no-repeat;
    padding-top: 4rem;
  }
  #subscribe {
    position: relative;
    margin-top: -100px;
    z-index: 9;
  }
  #subscribe,
#subscribe-footer {
    background-color: #f7eeff;
    height: 170px;
  }
  #subscribe .subscribe-text,
#subscribe-footer .subscribe-text {
    color: #ab53ff;
    font-size: 40px;
    font-weight: 600;
  }
  #coming-soon .coming-soon-image {
    position: absolute;
    margin-top: -45px;
    width: 8%;
  }
  .p-lg {
    padding-left: 3em;
    padding-right: 3em;
  }
}/*# sourceMappingURL=style.css.map */